/* General configurations */
.input-group {
	width: 70%;
}

/* Type badge */
.active-type {
	font-weight: bold !important;
	color: white !important;
	text-shadow: 2px 2px black !important;
	text-align: center;
}

/* Error message class */
.error-message {
	background: rgb(214, 46, 20) !important;
	color: white;
	font-weight: bold;
	font-size: 2rem;
	padding: 12px;
	margin-bottom: 12px;
	transition: all 1s;
	margin-top: 10px;
}

#main-inside {
	flex-direction: row;
}

/* Image */
#pokemon {
	width: 25%;
	height: 25%;
}

/* H1 */
.nomePokemon {
	width: 100% !important;
}

/* Responsivity Mobile */
@media screen and (max-width: 1500px) {
	.nomePokemon {
		width: 100% !important;
	}
	#pokemon {
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	#pokemon {
		width: 60%;
	}
}
